body {
    background-color: #e6e6e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left:0;
    margin-right:0;
    margin-top: 0;
    margin-bottom:0;
}
.countdown-container {
    text-align: center;
    color: #a3a09e;
}
.time {
    font-size: 3rem;
    font-weight: bold;
}
.background{
    background-image:url("images/Icons/pages/IMG-20241003-WA0000.jpg");
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.logo{
    height: 10rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    margin-top: 2rem;
}
main h1{
    font-size: 5.5rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}
main h2{
    font-size: 3rem;
}
header{
    font-family: "Brush Script MT";
}
header h2{
    color: orange;
    font-size: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2rem;
}
.title{
    font-family: "Brush Script MT";
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:#b8b4ac;
    background-color: #524b46;
    width:90%;
    padding-bottom:0.025rem;
    padding-top: 0.025rem;
}
.subtitle{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #524b46;
    background-color: #b8b4ac;
    width: 60%;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}
.praktisch-h2{
    margin-top:10rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: "Brush Script MT";
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.15rem;
    color: #a32b2b;

}
.praktische-informatie{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5rem;
    justify-content: space-evenly;
}

.praktische-informatie h2{
    text-decoration: underline;
    text-decoration-color: #fb6b6c;
    text-underline-offset: 2rem;
    text-decoration-thickness: 0.25rem;
    font-size: 1.75rem;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 1.75rem;

}
.praktische-informatie p{
    margin-left: auto;
    margin-right: auto;
}
.map h2{
    margin-top: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}
.open h2{
    margin-top: 2.3rem;
}

.praktische-informatie p{
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 3rem;
}
.eerste-woord{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5rem;
    justify-content: space-evenly;
    margin-right: 4rem;
}
.eerste-woord h2{
    font-family: "Brush Script MT";
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.15rem;
    color: #a32b2b;

}

.eerste-woord p, .eerste-woord li{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    
}
footer{
    margin-top: 1rem;
}
@media only screen and (max-width: 768px) {
    .background{
        background-image:url("images/Icons/pages/mobile.jpg");
        background-position: center;
        background-size: 100%;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
    }
    .praktische-informatie{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .flex{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;

    }
    
    
} 